.navList {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
.link {
    position: relative;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 3px 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.link:hover {
    color: azure;
}
  
.active {
    background-color: #a938ff59;
    border-bottom: black 0.1px solid;
    border-radius: 15px;
    width: max-content;
    padding: 3px 15px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.item {
    list-style: none;
}

.drop_menu {
    position: relative;
    border-radius: 0;
}

.menu {
    visibility: hidden;
    transition: all .1s ease .2s;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width:  max-content;
    top: 30px;
    left: 0px;
    gap: 3px;
}

.drop_menu:hover .menu  {
    visibility: visible;
}

.menu_item {
    background-color: #9953f2;
    border-bottom: black 0.1px solid;
    border-radius: 15px;
    width: 240px;
    padding: 3px 15px;
    color: black;
    list-style: none;
}

.menu_item:hover {
    color: white;
}