.dialogs__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.img_follow_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
}

.avatar {
    width: 100px;
}

.message_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message_main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 500px;
    max-width: 600px;
}

.location {
    min-width: 100px;
}